.admin-project {
    .sidebar {
        .second-list {
            width: 100%;
            padding: 0;
            margin-top: 6px;
        }
        #download-project-btn,
        #new-project-btn {
            width: 100%;
            color: white;
        }
    }
}
